@import "tailwindcss/theme";
@import "./theme/colors.css";
@import "./theme/text.css";
@import "./theme/shadows.css";

@import "./client-targeting.css";
@import "tailwindcss/utilities" important;

/* Breakpoints */
@variant sm (@media (max-width: 600px));
@variant xs (@media (max-width: 430px));

@variant hover (&:hover);

@theme {
  /* Unset some namespaces */
  --breakpoint-*: initial;
  
  --blur-*: initial;
  
  --animate-*: initial;

  /* Set the spacing scale base */
  --spacing: 4px;

  /* Containers (wip) */
  --container-3xs: 256px;
  --container-2xs: 288px;
  --container-xs: 320px;
  --container-sm: 384px;
  --container-md: 448px;
  --container-lg: 512px;
  --container-xl: 576px;
  --container-2xl: 672px;
  --container-3xl: 768px;
  --container-4xl: 896px;
  --container-5xl: 1024px;
  --container-6xl: 1152px;
  --container-7xl: 1280px;

  /* Border radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
}

/* filter */
@utility blur-0 { filter: blur(0); }
@utility blur-xs { filter: blur(4px); }
@utility blur-sm { filter: blur(8px); }
@utility blur-md { filter: blur(12px); }
@utility blur-lg { filter: blur(16px); }
@utility blur-xl { filter: blur(24px); }
@utility blur-2xl { filter: blur(40px); }
@utility blur-3xl { filter: blur(64px); }
